*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(145, 41, 201);
}
nav{
    padding: 20px;
    text-align: center;
    
}

nav a{
    color: white;
    font-size: 30px;
    text-decoration:none;
}

nav h1{
    display: inline;
}

nav ul{
    display: inline;
}

nav li{
    display: inline;
    padding: 20px;
}

#anuncio{
    margin: 50px 0px 0px 50px;
}

.subastas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 50px;
}

.cardSubasta{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    width: 300px;
}

.cardSubasta:hover{
    border: 5px solid #f3b91a;
}

.cardSubasta img{
    display: block;
    border-radius: 10px;
    width: auto;
    max-height: 350px;
    margin: auto;
}

.cardSubasta h3{
    text-align: center;
    padding: 20px;
}

.cardSubasta h4{
    text-align: center;
    padding: 10px;
    color: gray;
}

.cardSubasta button{
    display: block;
    border-radius: 10px;
    margin: auto;
}

.subasta h4{
    color: rgb(174, 175, 175);
}

button{
    background-color: #f3b91a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label{
    color: white;
}

footer{
    width: 100%;
    height: 150px;
    background-color: rgb(145, 41, 201);
    color: white;
}

footer a{
    color: white;
    font-size: 15px;
    text-decoration:none;
}

h2{
    color: white;
}
footer{
    text-align: center;
}

footer ul{
    margin: auto;
    padding: 20px;
}

footer li{
    display: inline;
    padding: 20px;
}
 
footer h2{
    padding: 10px;
}

@media all and (max-width: 1200px){
    .subastas{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 800px){
    .subastas{
        grid-template-columns: 1fr;
    }
}