.infoSubasta{

    border-radius: 20px;
    margin: 10% ;
    padding: 30px;
    background-color: white;
    width: 80%;
    display: inline-block;
}

.infoSubasta img{
    padding: 30px;
    height: 500px;
    float: left;
}

.descripcion{
    margin: auto auto;
}
